@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

}

.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  
}

.coin-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  
}
  .spin-eye{
    height: 150px;
    margin-top: 50px;
    -moz-animation: spinHorizontal 4s infinite linear;
    -o-animation: spinHorizontal 4s infinite linear;    
    -webkit-animation: spinHorizontal 4s infinite linear;
    animation: spinHorizontal 4s infinite linear;
  }
  @keyframes spinHorizontal {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
  }

.coin-text {
  margin-bottom: 32px;
  text-align: center;
}

.coin-input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-color: #000;
  color: #e2e2e2;
  margin-top: 10px;
}

.coin-input::placeholder {
  color: #e2e2e2;
}